@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');

*{
  margin: 0;
  padding: 0;
}
body{
  font-family: 'Ubuntu', sans-serif;
  background-image: url("./components/img/weatherbg3.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  color: white;
}


.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.3);
  height: 100vh;
}

.wrapper{
  position: absolute;
  top: 125px;
}

.form input{
  width: 300px;
  height: 50px;
  background-color: transparent;
  border:none;
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  border-radius: 20px;
  text-align: center;
  font-size: 1.5rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 3px 29px 5px;
}

::placeholder{
  color:rgba(255, 255, 255);
  font-size: 1.5rem;
}


.city-weather {
  position: relative;
  top: 70px;
  font-size: 2.3rem;
}

.city-weather .degree {
  position: relative;
  top:15px;
  
}

.city-weather .condition {
  position: relative;
  top:30px;
  
}


.others{
  padding: 10px;
  background-color:rgba(255, 255, 255,0.1);
  position: relative;
  display: flex;
  justify-content:space-around;
  top: 180px;
  gap: 50px;
  font-size: 1.6rem;
  border-radius: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 3px 29px 5px;
  border: 20px;
}


/*
      THIS PART IS USABLE IF WE PUT BUTTON TO FORM
.form button{
  margin-left: 10px;
  width: 90px;
  height: 45px;
  border-radius: 10px;
  border:none;
  font-size: 1.1rem;
}
.form button:hover{
  background-color: rgb(214, 212, 212);
  cursor: pointer;
}*/